
   <table class="table table-bordered table-striped" id="tblData" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Order Name
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit
                </th>
                
                <th></th>
            </tr>
        </thead>

    </table>
@section Scripts
{
<script src="~/js/orderItem.js"></script>
}