@model TestCaseBusinessSolutions.Models.ViewModels.OrderVM
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Order.Id" hidden />
     <div class="row">
         <div class="col-10">
                 <div class="border p-3 mt-4 row" >
            <div class="row col-12 pb-2">
                <h2 class="text-primary">@(Model.Order.Id!=0?"Update":"Create") Order</h2>
                <hr />
            </div>
            
            <div class="mb-3">
                <label asp-for="Order.Number"></label>
                <input asp-for="Order.Number" class="form-control" />
                <span asp-validation-for="Order.Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Order.Date"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            
            <div class="mb-3 col-6">
                <label asp-for="Order.ProviderId"></label>
                <select asp-for="Order.ProviderId" asp-items="@Model.ProviderList" class="form-select">
                    <option disabled-selected>--Select Provider--</option>
                </select>
                <span asp-validation-for="Order.Provider" class="text-danger"></span>
            </div>
            <div class="row pt-4">
            <div class="col-6 text-end">
            <h2 class="text-primary">
                Product List
            </h2>
             </div>
            <div class="col-6 text-end">
            <a  asp-controller="OrderItem" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp;Create New Product
            </a>
              </div>
                </div>
            <table class="table table-bordered table-striped" id="tblData" style="width:100%">
        <thead>
            <tr>
             
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit
                </th>
                
                <th>
                    Update
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>

    </table>
            <div class="col-12">
                @if(Model.Order.Id!=0)
            {
            <button type="submit"  class="btn btn-primary" style="width:150px">Update</button>
            }
            else
            {
            <button type="submit"   class="btn btn-primary" style="width:150px">Create</button>
            }
            </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:150px">
                Back to list    
            </a>
            </div> 
         </div>
         </div>
         
         </div>
     </div>
    
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/orderItem.js"></script>
   
    
}
