@{
    ViewData["Title"] = "Home Page";
}

   <table class="table table-bordered table-striped" id="tblData" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Number
                </th>
                <th>
                    Date
                </th>
                <th>
                    Provider
                </th>
                
                <th></th>
            </tr>
        </thead>

    </table>
@section Scripts
{
<script src="~/js/order.js"></script>
}